@import "partials/base";
@import "html5-boilerplate";

// Now you can choose to include the whole
// enchilada by uncommeting this line
//@include html5-boilerplate;

// Or, you can pick and choose only the
// sections you want to include
@include html5-boilerplate-reset;
//@include html5-boilerplate-fonts;
//@include html5-boilerplate-styles;
@include html5-boilerplate-helpers;
@include html5-boilerplate-media;


@import "compass";
@import "blueprint";

@import "blueprint/fancy-type";
@import "fancy-buttons";


$sidebar-columns: floor($blueprint-grid-columns / 3);
$content-columns: ceil(2 * $blueprint-grid-columns / 3);


@import "partials/two_col";


body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  
  h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    padding: 0px $default-padding;
  }  

  hr {
    @include colruler;
  }

  button { @include fancy-button($highlight-color); } 
  
  #error_explanation {
    @include error;
  }
  
  a {
    @include unstyled-link;
    cursor:pointer;
  }
    
  .matte {
    background-color:$matte-color;
    @include border-radius;
    
  }
  .content {
    padding:$default-padding;
  }
}
